$text-color: white;
$highlight-color: rgb(207, 219, 34);

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.main {
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-60deg, #342724, #49343c, #404c50, #192421);
  background-size: 400%;
  animation: gradient 15s ease infinite;
  color: $text-color;
  height: 100vh;
  width: 100vw;
  .header {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    flex-flow: row;
    .menu {
      list-style: none;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      .menuLink,a {
        text-decoration: none;
      }
      .menuItem{
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0 2rem 0 2rem;
        transition: transform 150ms ease;
        &:hover {        
          color: $highlight-color;
          transform: scale(1.3);
        }
      }
    }
  }
  .templateContainer{
    display: flex;
    flex-direction: row;
    
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      width: 100%;
      height: 100%;
      .title {
        font-size: 2rem;
      }
      .uploadArea {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0 2rem 0;
        border: 1rem dashed $text-color;
        border-radius: 2rem;
        width: 65rem;
        height: 15rem;
        transition: transform 300ms ease;
        .uploadIcon{
          fill: $text-color;
          width: 5rem;
          height: 10rem;
        }
        &:hover{        
          border-color: $highlight-color;
          transform: scale(1.1);
          .uploadIcon{
            fill: $highlight-color;
          }
        }
      }
    }
  }
  .modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    .cancelButton{
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
    .document{
      width: 20%;
      height: 20%;
      .page{
        width: 100%;
        height: 100%;
      }
    }
    
  }
  .footer {
    position: fixed;
    bottom: 0;
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
    .footerText {
      font-size: 1rem;
      padding-left: 0.5rem;
    }
  } 
}
